@keyframes ldio-m80vr0kbuxc {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.ldio-m80vr0kbuxc div {
    box-sizing: border-box!important
}

.ldio-m80vr0kbuxc>div {
    position: absolute;
    width: 140.43px;
    height: 140.43px;
    top: 5.285px;
    left: 5.285px;
    border-radius: 50%;
    border: 13.59px solid #000;
    border-color: #3e00a8 transparent #3e00a8 transparent;
    animation: ldio-m80vr0kbuxc 0.9615384615384615s linear infinite;
}

.ldio-m80vr0kbuxc>div:nth-child(2), .ldio-m80vr0kbuxc>div:nth-child(4) {
    width: 110.23px;
    height: 110.23px;
    top: 20.385px;
    left: 20.385px;
    animation: ldio-m80vr0kbuxc 0.9615384615384615s linear infinite reverse;
}

.ldio-m80vr0kbuxc>div:nth-child(2) {
    border-color: transparent #01946a transparent #01946a
}

.ldio-m80vr0kbuxc>div:nth-child(3) {
    border-color: transparent
}

.ldio-m80vr0kbuxc>div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-m80vr0kbuxc>div:nth-child(3) div:before, .ldio-m80vr0kbuxc>div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 13.59px;
    height: 13.59px;
    top: -13.59px;
    left: 49.83px;
    background: #3e00a8;
    border-radius: 50%;
    box-shadow: 0 126.84px 0 0 #3e00a8;
}

.ldio-m80vr0kbuxc>div:nth-child(3) div:after {
    left: -13.59px;
    top: 49.83px;
    box-shadow: 126.84px 0 0 0 #3e00a8;
}

.ldio-m80vr0kbuxc>div:nth-child(4) {
    border-color: transparent;
}

.ldio-m80vr0kbuxc>div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-m80vr0kbuxc>div:nth-child(4) div:before, .ldio-m80vr0kbuxc>div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 13.59px;
    height: 13.59px;
    top: -13.59px;
    left: 34.73px;
    background: #01946a;
    border-radius: 50%;
    box-shadow: 0 96.64px 0 0 #01946a;
}

.ldio-m80vr0kbuxc>div:nth-child(4) div:after {
    left: -13.59px;
    top: 34.73px;
    box-shadow: 96.64px 0 0 0 #01946a;
}

.loadingio-spinner-double-ring-mk6cfrlow4m {
    width: 150px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    background: #303030;
    margin: 0 auto;
}

.ldio-m80vr0kbuxc {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-m80vr0kbuxc div {
    box-sizing: content-box;
}